In [5]:
conda install -c conda-forge scikit-surprise

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.
Solving environment: ...working... failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\Sasha\anaconda3

  added / updated specs:
    - scikit-surprise


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-22.9.0               |   py39hcbf5309_1         968 KB  conda-forge
    conda-build-3.22.0         |   py39hcbf5309_2         585 KB  conda-forge
    m2-msys2-runtime-2.5.0.17080.65c939c|                3         3.0 MB  conda-forge
    m2-patch-2.7.5             |                2          90 KB  conda-forge
    m2w64-gcc-libgfortran-5.3.0|                6         342 KB  conda-forge
    m2w64-gcc-libs-5.3.0       |                7         520 KB  conda-forge
    m2w64-gcc-libs-core-5.3.0  |                7         214 KB  conda-forge
    m2w64-gmp-6.1.0            |                2         726 KB  conda-forge
    python_abi-3.9             |           2_cp39           4 KB  conda-forge
    ripgrep-13.0.0             |       h7f3b576_2         1.6 MB  conda-forge
    scikit-surprise-1.1.1      |   py39h5d4886f_2         538 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         8.5 MB

The following NEW packages will be INSTALLED:

  m2-msys2-runtime   conda-forge/win-64::m2-msys2-runtime-2.5.0.17080.65c939c-3 None
  m2-patch           conda-forge/win-64::m2-patch-2.7.5-2 None
  m2w64-gcc-libgfor~ conda-forge/win-64::m2w64-gcc-libgfortran-5.3.0-6 None
  m2w64-gcc-libs     conda-forge/win-64::m2w64-gcc-libs-5.3.0-7 None
  m2w64-gcc-libs-co~ conda-forge/win-64::m2w64-gcc-libs-core-5.3.0-7 None
  m2w64-gmp          conda-forge/win-64::m2w64-gmp-6.1.0-2 None
  python_abi         conda-forge/win-64::python_abi-3.9-2_cp39 None
  ripgrep            conda-forge/win-64::ripgrep-13.0.0-h7f3b576_2 None
  scikit-surprise    conda-forge/win-64::scikit-surprise-1.1.1-py39h5d4886f_2 None

The following packages will be UPDATED:

  conda              pkgs/main::conda-22.9.0-py39haa95532_0 --> conda-forge::conda-22.9.0-py39hcbf5309_1 None
  conda-build        pkgs/main::conda-build-3.21.8-py39haa~ --> conda-forge::conda-build-3.22.0-py39hcbf5309_2 None



Downloading and Extracting Packages

conda-build-3.22.0   | 585 KB    |            |   0%
conda-build-3.22.0   | 585 KB    | 2          |   3%
conda-build-3.22.0   | 585 KB    | ####9      |  49%
conda-build-3.22.0   | 585 KB    | ########## | 100%
conda-build-3.22.0   | 585 KB    | ########## | 100%

m2-msys2-runtime-2.5 | 3.0 MB    |            |   0%
m2-msys2-runtime-2.5 | 3.0 MB    | 5          |   6%
m2-msys2-runtime-2.5 | 3.0 MB    | #9         |  20%
m2-msys2-runtime-2.5 | 3.0 MB    | ###2       |  33%
m2-msys2-runtime-2.5 | 3.0 MB    | ####8      |  48%
m2-msys2-runtime-2.5 | 3.0 MB    | ######5    |  65%
m2-msys2-runtime-2.5 | 3.0 MB    | ########## | 100%
m2-msys2-runtime-2.5 | 3.0 MB    | ########## | 100%

scikit-surprise-1.1. | 538 KB    |            |   0%
scikit-surprise-1.1. | 538 KB    | 2          |   3%
scikit-surprise-1.1. | 538 KB    | ###5       |  36%
scikit-surprise-1.1. | 538 KB    | #######4   |  74%
scikit-surprise-1.1. | 538 KB    | #########8 |  98%
scikit-surprise-1.1. | 538 KB    | ########## | 100%

conda-22.9.0         | 968 KB    |            |   0%
conda-22.9.0         | 968 KB    | 8          |   8%
conda-22.9.0         | 968 KB    | #########2 |  93%
conda-22.9.0         | 968 KB    | ########## | 100%

m2w64-gcc-libgfortra | 342 KB    |            |   0%
m2w64-gcc-libgfortra | 342 KB    | #####1     |  51%
m2w64-gcc-libgfortra | 342 KB    | ########## | 100%

m2w64-gcc-libs-core- | 214 KB    |            |   0%
m2w64-gcc-libs-core- | 214 KB    | #####9     |  60%
m2w64-gcc-libs-core- | 214 KB    | ########## | 100%

m2w64-gcc-libs-5.3.0 | 520 KB    |            |   0%
m2w64-gcc-libs-5.3.0 | 520 KB    | ####6      |  46%
m2w64-gcc-libs-5.3.0 | 520 KB    | ########## | 100%
m2w64-gcc-libs-5.3.0 | 520 KB    | ########## | 100%

python_abi-3.9       | 4 KB      |            |   0%
python_abi-3.9       | 4 KB      | ########## | 100%

m2-patch-2.7.5       | 90 KB     |            |   0%
m2-patch-2.7.5       | 90 KB     | ########## | 100%
m2-patch-2.7.5       | 90 KB     | ########## | 100%

ripgrep-13.0.0       | 1.6 MB    |            |   0%
ripgrep-13.0.0       | 1.6 MB    | 6          |   7%
ripgrep-13.0.0       | 1.6 MB    | ####4      |  44%
ripgrep-13.0.0       | 1.6 MB    | ########3  |  84%
ripgrep-13.0.0       | 1.6 MB    | ########## | 100%

m2w64-gmp-6.1.0      | 726 KB    |            |   0%
m2w64-gmp-6.1.0      | 726 KB    | ####4      |  44%
m2w64-gmp-6.1.0      | 726 KB    | ########## | 100%
m2w64-gmp-6.1.0      | 726 KB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done
Retrieving notices: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [33]:
from surprise import KNNWithMeans, KNNBasic, KNNBaseline
from surprise import Dataset
from surprise import accuracy
from surprise import Reader
from surprise.model_selection import train_test_split
from surprise.model_selection import cross_validate

import pandas as pd

In [3]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')

In [4]:
movies.head(5)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [6]:
ratings.head(5)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [7]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [8]:
movies_with_ratings = movies.join(ratings.set_index('movieId'), on='movieId').reset_index(drop=True)
movies_with_ratings.dropna(inplace=True)

In [9]:
dataset = pd.DataFrame({
    'uid': movies_with_ratings.userId,
    'iid': movies_with_ratings.title,
    'rating': movies_with_ratings.rating
})

In [10]:
dataset.head()

    uid               iid  rating
0   1.0  Toy Story (1995)     4.0
1   5.0  Toy Story (1995)     4.0
2   7.0  Toy Story (1995)     4.5
3  15.0  Toy Story (1995)     2.5
4  17.0  Toy Story (1995)     4.5

In [11]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100836 entries, 0 to 100853
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   uid     100836 non-null  float64
 1   iid     100836 non-null  object
 2   rating  100836 non-null  float64
dtypes: float64(2), object(1)
memory usage: 3.1+ MB

In [12]:
ratings.rating.min()

0.5

In [13]:
ratings.rating.max()

5.0

In [16]:
reader = Reader(rating_scale=(0.5, 5.0))
data = Dataset.load_from_df(dataset, reader)

In [17]:
#trainset, testset = train_test_split(data, test_size=.5)

In [34]:
algo = KNNBaseline(k=40, sim_options={'name': 'pearson_baseline', 'user_based': False})
#algo.fit(trainset)

In [35]:
cross_validate(algo, data, measures=["RMSE", "MAE"], cv=5, verbose=True)

Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Evaluating RMSE, MAE of algorithm KNNBaseline on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8544  0.8445  0.8525  0.8515  0.8581  0.8522  0.0045
MAE (testset)     0.6536  0.6415  0.6509  0.6519  0.6531  0.6502  0.0044
Fit time          8.52    8.58    8.69    8.56    8.64    8.60    0.06
Test time         5.16    5.14    5.19    5.18    5.16    5.17    0.02

{'test_rmse': array([0.85443235, 0.84446665, 0.852485  , 0.85150134, 0.85812361]),
 'test_mae': array([0.65358798, 0.64151096, 0.65088909, 0.65188736, 0.65310235]),
 'fit_time': (8.516895055770874,
  8.581943988800049,
  8.692250967025757,
  8.561680316925049,
  8.638148307800293),
 'test_time': (5.16355562210083,
  5.142933130264282,
  5.194980144500732,
  5.176996231079102,
  5.163667917251587)}